<div class="container" *ngIf="pagedCategories.data && pagedCategories.data.length > 0">
   <div class="row mt-4 mb-4">
      <div class="col-md-3">
         <div class="category-list shadow rounded">
            <h4><b>Categories</b></h4>
            <div>
               <div *ngFor="let category of pagedCategories.data">
                  <a
                     data-bs-toggle="collapse"
                     [href]="'#' + category._id"
                     role="button"
                     aria-expanded="false"
                     aria-controls="dairySubcategories"
                     class="nav-category-link"
                  >
                     {{ category.name }}
                  </a>
                  <div class="collapse subcategory-list" [id]="category._id">
                     <div *ngFor="let subCategory of category.subCategories">
                        <p class="nav-sub-link" role="button" (click)="loadProductsInSubCategory(subCategory._id)">{{subCategory.name}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-md-9">
         <h2 class="text-main">{{currentSubCategoryName}}</h2>
         <p>{{loadedProductsCount}} Products found</p>
         <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let product of loadedProducts">
               <div class="product-card cursor-pointer" [routerLink]="['/details', product._id]">
                  <img [src]="product.imageCover" [alt]="product.title" />
                  <h5>{{product.title | trimText: 2}}</h5>
                  <p class="text-main">{{product.category.name}}</p>
               </div>
            </div>
         </div>
         <div *ngIf="message.length > 0" class="alert alert-warning">{{this.message}}</div>
      </div>
   </div>
</div>
