.product .btn-main {
    transform: translateY(150%);
    transition: transform 0.7s;
}

.product:hover .btn-main {
    transform: translateY(0);
}

section.my-4 {
    position: relative;
    min-height: 100px;
}
